@inherits LayoutComponentBase

<div class="page">
	<div class="header">
		<div class="Title">
			<img src="media/logo.png" width="50"/>
			<h1>PolaScan</h1>
		</div>
		<NavMenu />
	</div>
	

	<main>
		<article class="content">
			@Body
		</article>
	</main>
</div>
