@inherits LayoutComponentBase

<div class="page">
	<div class="header">
		<div class="Title">
			<img src="media/logo.png" width="150"/>
		</div>
		<NavMenu />
	</div>
	

	<main>
		<article class="content">
			@Body
		</article>
	</main>
</div>
