@inject NavigationManager NavigationManager
@implements IDisposable

<div>
	<nav class="flex-row">
        @if(CurrentPage == "")
        {
            <div class="nav-item">

                <button aria-label="Help" class="btn blue" @onclick="NavigateToHelp">
                    <Icon IconName="question" />
                    </button>
       

            </div>
		    <div class="nav-item">

			    {
				    <button aria-label="Settings" class="btn blue" @onclick="NavigateToSettings">
                    <Icon IconName="gear" />
                </button>
			    }
		    </div>
        }
		else
        {
            <div class="nav-item">
                <button class="btn blue" @onclick="NavigateToHome">Back</button>
            </div>
		}
    </nav>
</div>

@code {
    private string CurrentPage { get; set; } = "";

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        CurrentPage = e.Location.Split("/").Last();
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
    private void NavigateToHelp() => NavigationManager.NavigateTo("help");

    private void NavigateToSettings() => NavigationManager.NavigateTo("settings");
    
	private void NavigateToHome() => NavigationManager.NavigateTo("");

}
