@inject NavigationManager NavigationManager
<div>
	<nav class="flex-row">
		<div class="nav-item">
			
			@if(!currentUrl.Contains("settings"))
			{
				<NavLink href="settings" @onclick="Setul">
					<Icon Size=2 IconName="cog"/>
				</NavLink>
			}
			else
			{
				<NavLink href="" @onclick="Setul">
					<Icon Size=2 IconName="arrow-left" />
				</NavLink>
			}
		</div>
	</nav>
</div>

@code {
	private string currentUrl { get; set; } = "";
	protected void Setul()
	{
		currentUrl = NavigationManager.Uri;
	}
	protected override void OnInitialized()
	{
		base.OnInitialized();
		Setul();
	}
}
