.image-block {
    display: grid;
    gap: 2.5rem;
    position: relative;
    padding: 3.5rem 3.5rem 1.5rem;
    box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%);
    background: white;
    border-radius: 8px;
    max-width: 365px;
    box-sizing: content-box;
}

.button-group {
    width: 100%;
}

.image-block .preview {
    position: relative;
    width: 300px;
    background: white;
    border: 2px solid #00000030;
    border-radius: 3px;
}

.preview .placeholder {
    background: #00000083;
    min-height: 260px;
    opacity: 1;
    margin: 20px 20px 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.preview img {
    display: block;
    width: 100%;
    height: auto;
}

.image-block .preview::after {
    content: "";
    box-shadow: 0 0 0 2px #00000083;
    position: absolute;
    top: 20px;
    bottom: 80px;
    left: 20px;
    right: 20px;
    border-radius: 2px;
}

/*
.image-block.save {
    box-shadow: 0px 0px 1px 3px inset #4aaa4a;
}
    */

.button-group button {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    box-shadow: none;
    border: none;
    background: #17abd4;
    color: white;
}

.button-group .left {
    left: -2.5rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

.button-group .right {
    right: -2.5rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

.button-group .top {
    top: -2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button-group .bottom {
    bottom: -2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button-group .rotate-right {
    top: -2.5rem;
    right: -2.5rem;
}

.button-group .rotate-left {
    top: -2.5rem;
    left: -2.5rem;
}

.button-group .zoom-in {
    bottom: -2.5rem;
    right: -2.5rem;
}

.button-group .zoom-out {
    bottom: -2.5rem;
    left: -2.5rem;
}

.meta {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.meta-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: end;
    align-items: center;
    margin-top: 1rem;
    padding: 0 0.5rem 1rem;
    border-bottom: 1px solid #00000083;
    word-break: break-word;
    width: 100%;
    text-align: end;
}
.meta-item span{
    max-width: 15rem;
}
