.image-block {
    display: grid;
    gap: 2.5rem;
    position: relative;
    padding: 3.5rem;
    box-shadow: 0 0 0 1px rgb(87 87 87 / 10%), 0 8px 8px 0 rgb(234 224 218 / 30%);
    background: white;
    border-radius: 8px;
}


.button-group {
    width: 100%;
}

.image-block .preview {
    position: relative;
    width: 300px;
    background: black;
}
.image-block .preview img{
    display: block;
    width: 100%;
    height: auto;
}
.image-block .preview::after {
    content: "";
    box-shadow: 0 0 0 2px #4aaa4a;
    position: absolute;
    top: 20px;
    bottom: 80px;
    left: 20px;
    right: 20px;
}
/*
.image-block.save {
    box-shadow: 0px 0px 1px 3px inset #4aaa4a;
}
    */

    .button-group button {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    box-shadow: none;
    border: none;
    background: #17abd4;
    color: white;
}

.button-group .left {
    left: -2rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

.button-group .right {
    right: -2rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

.button-group .top {
    top: -2rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button-group .bottom {
    bottom: -2rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button-group .rotate-right {
    top: -2rem;
    right: -2rem;
}

.button-group .rotate-left {
    top: -2rem;
    left: -2rem;
}

.button-group .zoom-in {
    bottom: -2rem;
    right: -2rem;
}

.button-group .zoom-out {
    bottom: -2rem;
    left: -2rem;
}