.image-block {
    display: grid;
    gap: 2.5rem;
    position: relative;
    padding: 3.5rem 3.5rem 1.5rem;
    background: #ffffffe4;
    border-radius: 8px;
    box-sizing: content-box;
}

.button-group {
    width: 100%;
}

.image-block .preview {
    position: relative;
    width: 300px;
    background: white;
    border: 2px solid #00000030;
    border-radius: 3px;
}

.preview .placeholder {
    background: black;
    min-height: 260px;
    opacity: 1;
    margin: 22px 20px 74px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.preview img {
    display: block;
    width: 100%;
    height: auto;
}

.image-block:hover > :after {
    box-shadow: 0 0 0 2px #d43c84 !important;
}

.image-block .preview::after {
    content: "";
    box-shadow: 0 0 0 1px #00000083;
    position: absolute;
    top: 22px;
    bottom: 74px;
    left: 20px;
    right: 20px;
    border-radius: 2px;
}

.button-group button {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    box-shadow: none;
    border: none;
    background: #17abd4;
    color: white;
}

.button-group .left {
    left: -2.5rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

.button-group .right {
    right: -2.5rem;
    bottom: 0;
    top: 0;
    margin: auto;
}

.button-group .top {
    top: -2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button-group .bottom {
    bottom: -2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.button-group .rotate-right {
    top: -2.5rem;
    right: -2.5rem;
}

.button-group .rotate-left {
    top: -2.5rem;
    left: -2.5rem;
}

.button-group .zoom-in {
    bottom: -2.5rem;
    right: -2.5rem;
}

.button-group .zoom-out {
    bottom: -2.5rem;
    left: -2.5rem;
}

.meta {
    margin-top: .5rem;
    display: grid;
    gap: 1rem;
    align-content: center;
    align-items: center;
    padding: 1rem;
}

.meta-item {
    align-items: baseline;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 0.25rem;
    word-break: break-word;
}

    .meta-item.hour input {
        width: 2.5rem;
        border: none;
        border-radius: 3px;
    }

    .meta-item.location a, .meta-item.location p {
        color: black;
        display: block;
        max-width: 15rem;
    }

.map_wrapper {
    height: 150px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.location-options{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
    margin: 0 0 3px;
    padding: 0;
}
.map-btn {
    font-size: 0.7rem;
    padding: 0.2rem 0.25rem;
}
