.image-preview {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    justify-content: center;
    position: relative;
}

    .image-preview.disabled::after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
    }

.button-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.status-message {
    color: white;
    text-align: center;
    margin: 1rem auto;
}

.image-item {
    position: relative;
}

.image-preview.disabled .image-item {
    opacity: .3;
}

.image-item button {
    position: absolute;
    left: -1rem;
    top: -1rem;
    padding: 0.25rem .5rem;
    z-index: 1;
}
