.settings-item {
    width: 100%;
    margin-bottom: 0.5rem;
    color: white;
}

.settings-item.grid{
    justify-content: space-between;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.settings-item-label {
    min-width: 10rem;
}

.settings-item-value {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.settings-item-existing {
    word-break: break-all;
}

div {
    color: white;
}
